/* ------------------------------------ \\
 * Infrastructure
 * ------------------------------------ */

body {
    display: flex;
    min-height: 100vh;
}

header {
    width: 25%;
    max-width: 320px;
}

main {
    max-width: 960px;
}